<div class="row">
    <h1>Hard & Soft skills</h1>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="55"
        [radius]="100"
        [showUnits]="false"
        [imageSrc]="'../assets/Logo-HTML5.png'"
        [showImage]="true"
        [showSubtitle]="false"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="7"
        [outerStrokeColor]="'#78C000'" 
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        [lazy]="false"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="60"
        [radius]="100"
        [showUnits]="false"
        [imageSrc]="'../assets/css-Logo.png'"
        [showImage]="true"
        [showSubtitle]="false"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="7"
        [outerStrokeColor]="'#78C000'" 
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        [lazy]="false"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="40"
        [radius]="100"
        [showUnits]="false"
        [imageSrc]="'../assets/js.png'"
        [showImage]="true"
        [showSubtitle]="false"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="7"
        [outerStrokeColor]="'#78C000'" 
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        [lazy]="false"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="85"
        [radius]="100"
        [showUnits]="false"
        [imageSrc]="'../assets/c-Logo.webp'"
        [showImage]="true"
        [showSubtitle]="false"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="7"
        [outerStrokeColor]="'#78C000'" 
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        [lazy]="false"
    ></circle-progress>
    </div>
    <div class="text-center col-sm-4 col-md-4 col-lg-4">
        <circle-progress
        [percent]="100"
        [radius]="100"
        [showUnits]="false"
        [imageSrc]="'../assets/trabajoColaborativo-Logo.jpg'"
        [showImage]="true"
        [showSubtitle]="false"
        [imageHeight]="80"
        [imageWidth]="80"
        [outerStrokeWidth]="14"
        [innerStrokeWidth]="7"
        [outerStrokeColor]="'#78C000'" 
        [innerStrokeColor]="'#C7E596'"
        [animation]="true"
        [animationDuration]="700"
        [lazy]="false"
    ></circle-progress>
    </div>
</div>
