<div>
    <button type="button" class="btn btn-primary" routerLink="/editacercade/1" *ngIf="isLogged">
            Editar Persona
    </button>
</div>

<div class="row">

    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src={{persona.img}} class = "img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <P>Full Stack Developer Jr</P>
    </div>
    <div class="col-xs-12 col-sm-8 col-md-8 col-lg-8 descripcion">
        <h1>Acerca de mí</h1>
            <p>{{persona.descripcion}}</p>
        
    </div>
</div>

<!-- <div class="row">
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <img src="../../../assets/perfilPhoto.jpg" class = "img-fluid" id="fotodeperfil">
    </div>
    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
        <p id="nombre">{{persona.nombre}} {{persona.apellido}}</p>
        <P>Full Stack Developer Jr</P>
    </div>
    <div class="col-xs-12 col-sm-8 col-lg-8">
        <h1>Acerca de mí</h1>
            <p>Me llamo Alexis Daniel Romero, tengo 27 años, soy de Río Cuarto, Córdoba, Arg.
                Actualmente me encuentro estudiando la carrera de Analista en computación en la UNRC. También estoy terminando 
                el curso de Argentina Programa #YoProgramo, y además terminé el curso de #SeProgramar. Me gusta disfrutar de mi tiempo libre
                jugando videojuegos. Me gusta mucho el futbol y algo que me caraceteriza es mi fanatismo por Racing Club. 
                 Espero poder seguir sumando conocimientos acerca de la programación porque la verdad es que me encanta.
        </p>
        
    </div>
</div> -->