<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-1"></div>
    <div class="col-lg-11">
        <ul>
            <li><h1>Bachiller en Economía y Gestión</h1> - 
            <h3>(6 años)</h3></li>
            <p>El título de bachiller lo obtuve estudiando en la escuela secundaria "Nuestra Señora de la Merced" en Río Cuarto, en los años 2007-2012.</p>
        </ul>
        <ul>
            <li><h1>Argentina Programa: #SéProgramar</h1> - 
            <h3>(3 meses)</h3></li>
            <p>El título de #SeProgramar lo obtuve el 30 de diciembre del año 2021.</p>
        </ul>
    </div>
</div>
